#About{
    padding-top: 5%;
    position: absolute; 
    top: 30px;
    left: 30px;
}

#subwayLine {
    position: relative;
    top: 0;
    left: 0;
}


#AboutTitle {
    font-family: 'Avenir Black';
    text-align: left;
    padding-left: 8%;
    padding-right: 30%;
    padding-top: 5%
}

#AboutText {
    font-family: 'Avenir Light';
    font-size: 14pt;
    text-align: left; 
    padding-left: 8%;
    padding-right: 20%;
    padding-top: 5%;
}


@media screen and (max-width: 480px) {
    #AboutText {
        min-width: 60%;
    }
} 