.dark-blue-btn {
  background-color: #003d47 !important;
  border-color: black !important;
  font-family: "Avenir Black";
  max-width: 150px;
}

.lg-dark-blue-btn {
  background-color: #003d47 !important;
  border-color: black !important;
  font-family: "Avenir Black";
  width: 300px;
  font-size: 25px !important;
}

@media only screen and (max-width: 1200px) {
  .lg-dark-blue-btn {
    width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .lg-dark-blue-btn {
    width: 150px;
    font-size: 20px !important;
  }
}
