/* Mobile TODO1.*/
.DonateContainer {
    margin: 5% auto;
    font-family: "Avenir Black";
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    background: white;
    width: 90%;
}

.DonateContainer h1 {
    color: #345d98;
}

.DonateContainer h2 {
    color: #243f67;
    font-size: 1.7em;
}

.DonationHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.DonationAmount {
    display: flex;
    width: 100%;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.DonationHeader h1 {
    margin-left: -2em;
}

.DonationExit {
    align-self: center;
    margin-left: 1em;
    background: none;
    border: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 10px;
    border: 1px solid black;
}

.DonationAmount h2 {
    margin: 0;
}

.DonationAmount input {
    margin-left: 1em;
}

.InputBox {
    font-family: "Avenir Light";
}

.InputBox p {
    color: #243f67;
    margin: 0 0 0em 0.2em;
    font-size: 1em;
}

.InputBox input {
    margin-bottom: 1em;
    border: 1px solid gray;
    font-size: 1em;
    padding: 0.4em;
}

.DonationBilling .InputBox input {
    width: 100%;
}

.DonationCredit .InputBox input {
    width: 100%;
}

.DonationRow {
    display: flex;
}

.DonationCredit {
    display: flex;
    flex-direction: column;
}

.DonationSubmitButton  {
    font-family: "Avenir Black";
    background-color: #8491a5;
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 0.4em 2em 0.4em 2em;
    margin: 0.4em 0 1em;
    border-radius: 0.4em;
    align-self: center;
}

@media all and (min-width: 776px) {
    .DonateContainer {
        width: 600px;
    }
    .DonationForm {
        display: flex;
    }
    .DonationBilling {
        width: 250px;
        margin-right: 1em;
    }
    .DonationCredit {
        width: 250px;
        margin-left: 1em;
    }
}