/* Mobile TODO */
.donate {
    font-family: "Avenir Black";
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
}

.donate h1 {
    color: #345d98;
}

.donate h2 {
    color: #243f67;
    font-size: 1.7em;
}

.amount {
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount input {
    width: 290px;
    margin-top: 0em;
    margin-left: 1em;
}

.amount h2 {
    margin-bottom: 0.2em;
}

/*.donateInfo {
    margin-top: -1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.billing {
    margin-right: 2em;
}

.inputBox {
    font-family: "Avenir Light";
}

.inputBox p {
    color: #243f67;
    margin: 0 0 0em 0.2em;
    font-size: 1em;
}

.inputBox input {
    margin-bottom: 1em;
    border: 1px solid gray;
    font-size: 1em;
    padding: 0.4em;
} */

/* .credit {
    display: flex;
    flex-direction: column;
}

.submitBtn  {
    font-family: "Avenir Black";
    background-color: #8491a5;
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 0.4em 2em 0.4em 2em;
    border-radius: 0.4em;
    align-self: center;
}

.billing {
    display: flex;
    flex-direction: column;
}

.credit {
    display: flex;
    flex-direction: column;
}

.info .inputBox input {
    width: 100%;
}

.inputPair {
    display: flex;
}

.inputPair .inputBox:nth-child(1) {
    width: 150px;
    margin-right: 2em;
}

.inputPair .inputBox:nth-child(2) {
    width: 75px;
}

.credit .inputPair .inputBox:nth-child(1) {
    width: 200px;
}

.billing .inputPair .inputBox:nth-child(1) {
    width: 170px;
} */


/* Tablets and Desktop */
@media all and (min-width: 776px) {
    .donate  {
        width: 600px;
    }
    .amount {
        flex-direction: row;
    }
    .amount input {
        margin-top: 2em;
    }

    .amount h1 {
        margin-bottom: 1em;
    }

    .donateInfo {
        flex-direction: row;
        margin-bottom: 0;
    }

    .credit .inputPair .inputBox:nth-child(1) {
        width: 150px;
    }

    .billing .inputPair .inputBox:nth-child(1) {
        width: 150px;
    }
}